.pdf::before {
  content: '';
  background: url('../resources/pdf.png');
  position: absolute;
  height: 20px;
  width: 40px;
  margin-top: -10px;
}

.dataTables_wrapper .dataTables_filter {
  float: unset !important;
}

.alert.alert-warning {
  background-color: #f9f4d4;
}

a.guideNavIcon.guideTopNavIcon.nested_false {
  font-weight: bold;
  font-size: larger;
}
